{% extends "base.html" %}

{% block content %}

<div class="contentTitle">
<h1>Here are all of the images that have been uploaded!</h1>
</div>
<div id="imageContainer">
</div>
<script type="text/javascript">
    $.post("image_numbers",
         function(numbers) { 
            numbers = numbers.replace('[', '')
            numbers = numbers.replace(']', '')
            numbers = numbers.split(', ')
            for (var i = numbers.length - 1; i >= 0; i--) {
                console.log(parseInt(numbers[i]))

                $("#imageContainer").append("<div style='padding-top:10px'>" + 
                    "<a href='/image?num=" + numbers[i] + "'>" +
                    "<img width='200' src='image_raw?num=" + numbers[i] + "' /></a></div>");
            };
         }
    );
</script>
{% endblock %}
