{% extends "master.html" %}

{% block main_title %}
    Upload An Image
{% endblock %}

{% block page_content %}

	<form role="form" enctype='multipart/form-data' action='{% url 'upload_receive' %}' method='POST' class="form-horizontal">
	{% csrf_token %}
    <div class="form-group">
            <div class="col-sm-5">
                <label for="imageName" class="control-label pull-right">Name (optional): </label>
            </div>
            <div class="col-sm-5">
                <input type="text" name="imageName" id="name" class="form-control" />
            </div>
        </div>

        <div class="well">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="imageFile" class="pull-right">Image: </label>
                </div>
                <div class="col-sm-5">
                    <input type="file" id="imageFile" name="image" />
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-12">
                <input type="submit" value="Submit" class="btn btn-primary btn-sm pull-right" />
            </div>
        </div>
</form>
{% endblock %}

{% block page_bottomscripts %}
	<script type="text/javascript">
	$(document).ready(function(event){
		$('#upload').addClass('active');
	})
	</script>
{% endblock %}