body {
	background-color: #efefef;
}

.nav-red {
	background-color: #E85400;
	color: #FFF;
}

.nav-red .nav-brand {
	color: #FFF;
}

.nav-red .nav-brand:hover {
	color: #FFF;	
}

.nav-red .navbar-ul {
	background-color: #E85400;
}
.nav-red .navbar-ul > li > a {
	color: #fff;
}
.nav-red .navbar-ul > li > a:hover,
.nav-red .navbar-ul > li > a:focus {
	color: #fff;
	background-color: #FF6D19;
}

.nav-red .navbar-ul > .active > a,
.nav-red .navbar-ul > .active > a:hover,
.nav-red .navbar-ul > .active > a:focus {
	color: #fff;
	background-color: #FF6D19;
}

.content {
	margin-top: 10px;
}

@media(min-width:768px) {
	.content {
		margin-top: 60px;
	}
}

.main {
	background-color: #FFF;
	margin-top: 0px;
	/*margin-right: 10px;*/
}

@media(min-width: 768px) {
	.main {
		padding: 20px;
		/*margin-top: -10px;*/
		/*margin-left: 10px;*/
		/*margin-right: 10px;*/
		height: 100%;
		/*border: 1px solid #e7e7e7;*/
		box-shadow: 0 1px 1px #e6e6e6;
	}
}

.sidebar {
	display: none;
}
@media(min-width: 768px) {
	.sidebar {
		padding: 20px;
		/*margin-top: -10px;*/
		background-color: #FFF;
		display: block;
		border: 1px solid #e7e7e7;
		/*float: right;*/
	}
}

.main > h4 {
	font-size: 20px;
	color: #000;
	padding-bottom: 5px;
	border-bottom: 1px solid #e7e7e7;
	width: 100%;
	float: top;

}