{% extends "base.html" %}

{% block content %}

<title>fenderic - content</title>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<h1>Content page</h1>
words words words

<br><br><br>
<div class="foo">Color this text red.</div>
<br><br>
<script type='text/javascript'>
  alert("Hey!<br>Text will be written once you close this alert!");
  document.write("This has been written ");
  document.write("through JavaScript!");

  $("div.foo").css("color", "red");

</script>

{% endblock %}
