{% extends "base.html" %}

{% block content %}

<title>fenderic - index</title>

<h1>Hello, world.</h1>
This is fenderic's Web server.<br>
<a href= /content>Content</a><br>
<a href= /file>File</a><br>
<a href= /image>Image</a><br>
<br>
<a href= /thumbnail>Thumbnail</a> - <i>(hw8 - Project 1)</i><br>
<br> GET Form
<form action="/submit" method="GET">
<p>First Name: <input type="text" name="firstname"></p>
<p>Last Name: <input type="text" name="lastname"></p>
<input type="submit" value="Submit">
</form>
<br> POST Form
<form action="/submit" method="POST">
<p>First Name: <input type="text" name="firstname"></p>
<p>Last Name: <input type="text" name="lastname"></p>
<input type="submit" value="Submit">
</form>
<br> POST Form (multipart/form-data)
<form action="/submit" method="POST" enctype="multipart/form-data">
<p>First Name: <input type="text" name="firstname"></p>
<p>Last Name: <input type="text" name="lastname"></p>
<input type="submit" value="Submit">
</form>

{% endblock %}
